@charset "UTF-8";

.div {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    width: 100vw;
    height: 7vh;
}

/* Foto do funcionário */

.container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    width: 90%;
    margin-top: 1.5rem;
}
.containerCirculo{
    box-shadow: var(--shadow-card);
    margin-right: 0.5rem;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    background-color: var(--corSecundaria);
 
}
.container :nth-last-of-type(1) :active{
    opacity: 0.5;
}
.icon{
    color: var(--corTexto);
    font-size: 20px;
}
