

html, body {
  height: 100%;       
  overflow: hidden;  
}
.no_select {
  user-select: none;      
  -webkit-user-select: none;
  -ms-user-select: none;
  -webkit-tap-highlight-color: transparent; 
}
.container {
  background-color: var(--background);
  display: flex;
  align-items: center;
  justify-content: flex-start; /* 'start' funciona, mas 'flex-start' é padrão */
  flex-direction: column;
  width: 100vw;
  height: 100vh;
  box-sizing: border-box;      /* inclui padding na altura */
}
.logo {
  pointer-events: none;
  -webkit-user-drag: none;
}
