* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;       /* garante que o body e html ocupem toda a tela */
  overflow: hidden;   /* impede scroll da página */
}

.container {
  background-color: #101445;
  display: flex;
  align-items: center;
  justify-content: flex-start; /* 'start' funciona, mas 'flex-start' é padrão */
  flex-direction: column;
  width: 100vw;
  height: 100vh;
  box-sizing: border-box;      /* inclui padding na altura */
}
img{
  margin-bottom: '5rem';
  margin-top: '2rem', 
}
