@charset "UTF-8";


*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.container{
    overflow: hidden; 
    background-color: #101445;
    display: flex;
    align-items: center;
    justify-content: start;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
}