* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;       /* garante que o body e html ocupem toda a tela */
  overflow: hidden;   /* impede scroll da página */
}
.no_select {
  user-select: none;      
  -webkit-user-select: none;
  -ms-user-select: none;
  -webkit-tap-highlight-color: transparent; 
}
.container {
  background-color: #101445;
  display: flex;
  align-items: center;
  justify-content: flex-start; /* 'start' funciona, mas 'flex-start' é padrão */
  flex-direction: column;
  width: 100vw;
  height: 100vh;
  box-sizing: border-box;      /* inclui padding na altura */
}
img{
  width: 100%;
  margin-bottom: '5rem';
  margin-top: '2rem', 
}
