@charset "UTF-8";

.bottomNav {
    font-weight: 500;
    color: var(--corTexto);
    text-decoration: none;
    font-size: 1.5rem;
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 60px;
    background: var(--corSecundaria);
    display: flex;
    justify-content: space-around;
    align-items: center;
}

a {
    color: inherit;
    text-decoration: none;
}

.navItem {
    color: var(--corTexto);
    font-weight: 600;
    transition: color 0.2s ease;
}

.navItem.active {
    color: var(--corPrimaria);
}