@charset "UTF-8";

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}


.button{
  color: var(--corTextoBotao);
  background-color: var(--corPrimaria);
  margin-top: 1rem;
  font-size: 18px;
  font-weight: bold;
  border: none;

}
.button:active {
  background-color:var(--active)
}