@charset "UTF-8";
.drop {
    background-color: transparent;
    border-bottom: 2px solid var(--corPrimaria);
    position: relative;
    width: 90%;
    margin-bottom: .5rem;
}

.drop span{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.icon{
    color: var(--corPrimaria);
    font-size: 1.1rem;
}
.icon:active{
    color: blue;
}

.drop span label{
    margin-left: .5rem;
    color: var(--corTexto);
    font-size: 1.1rem;
    font-weight: 200;
}

.dropList {
    padding: 0px;
    list-style: none;
    margin-top: .9rem;
    color: var(--corSecundaria);
    font-weight: 500;
    font-size: .9rem;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    background: var(--corPrimaria);
    border-radius: 8px;
    box-shadow: var(--shadow-card);
    z-index: 999;
}

.dropList li {
    padding: 0.6rem 1rem;
    cursor: pointer;
}