@charset "UTF-8";


*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.container{
    min-height: 30vh;
    width: 90vw ;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.label{
    margin-bottom: 1rem;
    text-align: left;
    font-size: 2rem;
    font-weight: 500;
    color: white;
    width: 90% ; 
}
.reset{
    margin-top: 1rem;
    margin-bottom: 1rem;
    text-align: center;
    font-size: 1rem;
    color: white;
    width: 90% ; 
}
.reset:active{
   color: rgb(202, 202, 202);
}

