* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;       /* garante que o body e html ocupem toda a tela */
  overflow: hidden;   /* impede scroll da página */
}
.no_select {
  user-select: none;      
  -webkit-user-select: none;
  -ms-user-select: none;
  -webkit-tap-highlight-color: transparent; 
}
.logo {
  pointer-events: none;
  -webkit-user-drag: none;
}


.container {
  background-color: var(--background);
  width: 100vw;
  height: 100vh;
  box-sizing: border-box;      /* inclui padding na altura */
}
