@charset "UTF-8";

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.container{
    min-height: 30vh;
    width: 90vw ;
}
.label{
    margin-bottom: 1rem;
    text-align: left;
    font-size: 2rem;
    font-weight: 500;
    color: var(--corTexto);
    width: 90% ; 
}
.reset{
    margin-top: 0.1rem;
    margin-bottom: 1rem;
    text-align: right;
    font-size: 1rem;
    color: var(--corTexto);
    width: 90% ; 
}
.reset:active{
   color: var(--activeTexto)
}

