@charset "utf-8";
     
.div {
        background-color: var(--background);
        display: flex;
        justify-content:center;
        align-items: start;
        flex-direction: row;
        width: 100vw;
        height: 100vh;

    }