@charset "utf-8";
     
.div {
        background-color: var(--background);
        display: flex;
        justify-content:start;
        align-items: center;
        flex-direction: column;
        width: 100vw;
        height: 100vh;

    }