@charset "utf-8";
     
.div {      
        box-sizing: border-box;
        background-color: var(--background);
        display: flex;
        justify-content:start;
        align-items: center;
        flex-direction: column;
        gap: 1rem;
        width: 100vw;
        height: 100vh;
    }

.ver{    
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 90%;
        color: var(--corTexto);
        font-weight:"500";
        font-size: 1.1rem;
    }
.ver label:active:last-of-type {
    color: var(--activeTexto);
}