@charset "utf-8";
     
.div {      
        box-sizing: border-box;
        background-color: var(--background);
        display: flex;
        justify-content:start;
        align-items: center;
        flex-direction: column;
        gap: 1rem;
        width: 100vw;
        height: 100vh;

    }
.funcionarios{

        margin-left: 60%;
        font-size: .8rem
    }
.funcionarios:active{

        color:var(--activeTexto);
}
.ver{
    margin-left: 53.5%;
    font-size: .8rem
}
.ver:active {
    color: var(--activeTexto);
}