@charset "UTF-8";

.container{
    box-shadow: var(--shadow-card);
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    scroll-behavior: smooth;
    gap: 1rem;
    width: 100%;
    min-height: 0;
    padding-bottom: 1rem;

    

}
.container::-webkit-scrollbar {
    width: 0px;
}
.container::-webkit-scrollbar-thumb {
    background: transparent
}
.card{
    border-radius: 10px;
    padding: 0.5rem;
    gap: 0.5rem;
    background-color: var(--corSecundaria);
    width: 90vw;
    min-height: 10vh;
}
.containerInterno{
    width: 100%;
    height: 100%;
}
.containerDetalhe{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
}
.containerMotorista{
    gap: 0.2rem;

}
.icon{
    margin: 0.3rem;
    font-size: 1rem;
    color:var(--corPrimaria);
}
.label{
    font-weight: 500;
    font-size: 1rem;
    color: var(--corTexto);
}
