@charset "UTF-8";

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}


.container{
    background-color: transparent;
    width: 90%;
    min-height :6vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}
.input{
    color: var(--corTexto);
    background-color: transparent;
    width: 100%;
    height :3vh;
    border:none;
    font-size: 1.3rem;
}
.input:focus {
  outline: none;
}
.container_input{
    border-bottom: 2px solid var(--corPrimaria);
    margin-bottom: 0.5rem;
    background-color: transparent;
    width: 100%;
    display: flex;
    justify-content: center;
}
.label {
  font-weight: 500;
  margin-bottom: -0.2rem;
  font-size: 1.4rem;
  color:var(--corTexto);
}
.icon{
  font-size: 27px;
  color: var(--corTexto);
  cursor: pointer;
}
