@charset "UTF-8";

.div{ 
    background-color: var(--background);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
    
}
.card{
    margin-top: 1rem ;
    padding: 1rem;
    display: flex;
    justify-content: left;
    align-items: center;
    flex-direction:row;
    width: 55%;
    height: 9%;
    background-color: var(--corSecundaria);
    border-radius: 10px ;
}
.container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
}
.cardFuncao{
    color: var(--corSecundaria);
    margin-top: 0.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: var(--corPrimaria);
    width: 60%;
    height: 1rem;
    border-radius: 5px;

}
.img{
    margin-right: 0.5rem;
    border-radius: 180px;
    width: 52px;
    height:53px
}
.nome{
    text-align: center;
    color: var(--corTexto);
    width: 100%;
    font-size: 18px;
    font-weight: 500;

}
.funcao{
    font-weight: bold;
    color: var(--corSecundaria);
    font-size: 10px;
}