@charset "UTF-8";


:root {

   min-height: 100dvh;
  --shadow-card: 0 0 7px rgba(0, 0, 0, 0.2);
  --corTexto: #000000;
  --corTextoSecundaria: #969696;
  --background: #FDFAFC;
  --corPrimaria: #D6A010;
  --corSecundaria: #FDFAFC;;
  --corTextoBotao: #FDFAFC;
  --active: #ffbf0f;
  --activeTexto: rgb(202, 202, 202); 
}

[data-theme="dark"] {
  --shadow-card: none;
  --background: #04102b;
  --corTexto: #FDFAFC;
  --corTextoSecundaria: #969696;
  --corPrimaria: #D6A010;
  --corSecundaria: #252628;
  --corTextoBotao: #FDFAFC;
  --active: #ffc628;
  --activeTexto: rgba(202, 202, 202, 0.883);
}

* {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.alinhamentoRowCentro{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}
.alinhamentoColumnCentro{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.alinhamentoRowTop{
  display: flex;
  justify-content: start;
  align-items: center;
  flex-direction: row;
}
.alinhamentoRowEsquerda{
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: row;
}
.alinhamentoColumnEsquerda {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
}
.alinhamentoColumnTop {
  display: flex;
  justify-content: start;
  align-items: center;
  flex-direction: column;
}

